<% if @message %>


<% if @message[:success] %>
  <div class="alert alert-success">
    <a class="close" data-dismiss="alert">x</a>
    <%= @message[:success] %>
  </div>
<% end %>

<% if @message[:error] %>
  <div class="alert alert-error">
    <a class="close" data-dismiss="alert">x</a>
    <% @message[:error].each do |error| %>
      <%= error %><br />
    <% end %>
  </div>
<% end %>

<% if @message[:info] %>
  <div class="alert alert-info">
    <a class="close" data-dismiss="alert">x</a>
    <%= @message[:info] %>
  </div>
<% end %>


<% else %>

<% if flash[:success] %>
  <div class="alert alert-success">
    <a class="close" data-dismiss="alert">x</a>
    <%= flash[:success] %>
  </div>
<% end %>

<% if flash[:error] %>
  <div class="alert alert-error">
    <a class="close" data-dismiss="alert">x</a>
    <% flash[:error].each do |error| %>
      <%= error %><br />
    <% end %>
  </div>
<% end %>

<% if flash[:info] %>
  <div class="alert alert-info">
    <a class="close" data-dismiss="alert">x</a>
    <%= flash[:info] %>
  </div>
<% end %>


<% end %>
