<h1>Your finances</h1>

<p>Spendable: <%= @status.spendable %></p>
<p>Income: <%= @status.income %></p>
<p>Bills: <%= @status.cost %></p>
<p>Savings: <%= @status.savings %>%</p>
<p>Unexpected income: <%= @status.sudden_income %></p>
