<% if @type.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@type.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @type.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
 <% end %>

<%= form_for @type, url: types_path do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %><br />
    <%= f.submit %>
  </p>
<% end %>
