<% if @fixed_cost.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@fixed_cost.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @fixed_cost.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @fixed_cost, url: fixed_costs_path do |f| %>
  <p>
    <%= f.label :start %>
    <%= f.date_select(:start, use_two_digit_numbers: true) %>
  </p>
  <p>
    <%= f.label :end %>
    <%= f.date_select(:end, use_two_digit_numbers: true) %>
  </p>
  <p>
    <%= f.label :type %>
    <%= f.select :type, @types.map { |type| [type.name,type.id] } %>
  </p>
  <p>
    <%= f.label :costs %>
    <%= f.text_field :costs %>, 
      <%= f.text_field :costs %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
